<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
<form action="/user/userregister" method="post">
    姓名：<input name="name"/></br>
    年龄：<input name="age"/></br>
    密码：<input name="passwordencrypt"/></br>
    地址：<input name="address"/></br>
    电话号码：<input name="telphone"/></br>
    QQ：<input name="qq"/></br>
    微信：<input name="weixin"/></br>
    Email：<input name="email"/></br>
    性别：<input name="sex"/></br>
    生日：<input name="birthday"/></br>
    <input type="submit" value="提交"/>

</form>
</body>

</html>
